#sidebar {
	width: 40%;
	max-height: 100vh;
  	color: black;
  	float: right;
  	padding: 20px 40px;
  	overflow-y: scroll;
}

.station-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}